lab_notebook/
*.log
*.pkl
__pycache__
gensim_outputs/
results*/
original_*/
newspapers/
newspapers_*/
filtered_*/
metadata/
*.zip
*.feather
nohup.out
subjects.txt
results_metadata.txt
ratings.txt
old_*
viz
failed_calls.txt
nonword_caches/
