[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
locr = "*"
gensim = {version = "*", sys_platform = "== 'linux'"}
pandas = "*"
umap-learn = {extras = ["plot"], version = "*", sys_platform = "== 'linux'"}
quadfeather = {git = "https://github.com/bmschmidt/quadfeather", sys_platform = "== 'linux'"}
responses = "*"
llvmlite = {version = "*", sys_platform = "== 'linux'"}
spacy = "*"
thinc-apple-ops = {version = "*", sys_platform = "== 'darwin'"}
levenshtein = "*"

[requires]
python_version = "3.8"
