[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
locr = "*"
gensim = "*"
umap-learn = {extras = ["plot"]}
quadfeather = {git = "https://github.com/bmschmidt/quadfeather"}
responses = "*"
llvmlite = "*"
spacy = "*"
# thinc-apple-ops would be great to install due to the big spacy speedup, but
# it requires numpy >=1.21, whereas numba (a dependency of other stuff on here)
# requires numpy <= 1.20, soooo....
levenshtein = "*"
pandas = "*"
more-itertools = "*"

[requires]
python_version = "3.9"
